$icon-team-left: "/assets/images/red.svg";
$icon-team-right: "/assets/images/blue.svg";

// TODO: we have a material icons. Deprecated?
$icon-back: "/assets/images/back.svg";
$icon-next: "/assets/images/next.svg";
