$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$font-family-odometer: "Staatliches", "Consolas", monospace;

$font-sizes: (
  "logo-header": 144px,
);

$colors: (
  "team-blue": #056cff,
  "team-red": #ff4255,
);
