<div class="pyro"
     *ngIf="showFireworks">
  <div class="before"></div>
  <div class="after"></div>
</div>

<div *ngIf="gameSettings"
     class="root-container">
  <div>
    TODO:Заголовок (добавить имя автора)
    <span>
      {{ gameSettings.game.gameName }}
    </span>
  </div>
  <div class="game-name">
    <span>
      {{ gameSettings.game.questions[stageIndex].stageName }}
    </span>
  </div>

  <!-- <div class="game-question text-large centered"
       *ngIf="answers">
    {{getCurrentQuestion()}}
  </div> -->

  <!-- TODO: change to *ngFor() -->
  <div *ngIf="gameSettings.game.teamLeft"
       (click)="setActiveTeam(0)"
       [class.team-enabled]="activePlayer.team === 0"
       class="team-element team-1 team-container">
    <span class="row-1 col-2 centered text-large team-red">
      Red Team
    </span>
    <div id="odometer-red"
         class="odometer row-2 col-2 centered team-red"></div>
    <div class="row-3 col-2 centered">
      <img [src]="teamOneIcon">
    </div>
    <div class="row-4 col-2">
      <fail-indicator [fails]="gameSettings.game.teamLeft.fails"
                      [failsMax]="gameSettings.game.maxFails"
                      (failed)="onFail($event, 0)"></fail-indicator>
    </div>
  </div>

  <div *ngIf="gameSettings.game.teamRight"
       (click)="setActiveTeam(1)"
       [class.team-enabled]="activePlayer.team === 1"
       class="team-element team-2 team-container">
    <span class="row-1 col-2 centered text-large team-blue">
      Blue Team
    </span>
    <div id="odometer-blue"
         class="odometer row-2 col-2 centered team-blue"></div>
    <div class="row-3 col-2 centered">
      <img [src]="teamTwoIcon">
    </div>
    <div class="row-4 col-2">
      <fail-indicator [fails]="gameSettings.game.teamRight.fails"
                      [failsMax]="gameSettings.game.maxFails"
                      (failed)="onFail($event, 1)"></fail-indicator>
    </div>
  </div>

  <div class="choices choices-container">
    <app-answer-card *ngFor="let answer of gameSettings.game.questions[stageIndex].answers; let i = index"
                     (open)="onSelected(i)"
                     [id]="i+1"
                     [answer]="answer.name"
                     [points]="answer.points"
                     class="single-choice single-choice-i">
    </app-answer-card>
  </div>

  <div class="controls controls-container">
    <div class="col-2 row-1">
      <div class="img-circular back-btn"
           (click)="previousQuestion()"></div>
    </div>
    <div class="col-4 row-1">
      <div class="img-circular next-btn"
           (click)="nextQuestion()"></div>
    </div>
  </div>
</div>
