@if (gameEnded) {
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
} @if (gameSettings) {
<div class="root-container">
  <h1 class="center-row header">
    {{ gameSettings.game.questions[stageIndex].stageName }}
  </h1>

  <div class="center-row bank">
    <span>
      {{ bank }}
    </span>
  </div>
  @if (gameSettings.game.teamLeft) {
  <app-team
    (click)="setActiveTeam('teamLeft')"
    [name]="'Red Team'"
    [icon]="teamOneIcon"
    [fails]="gameSettings.game.teamLeft.fails"
    [maxFails]="gameSettings.game.maxFails"
    [count]="gameSettings.game.teamLeft.points"
    [class.team--active]="activePlayer.team === 'teamLeft' && !showAnswersMode"
    class="team"
  />
  }
  <div class="choices choices-container">
    @for (answer of gameSettings.game.questions[stageIndex].answers; track
    answer; let i = $index) {
    <answer-card
      (open)="onSelected(i)"
      [id]="i + 1"
      [answer]="answer.name"
      [points]="answer.points"
      class="single-choice single-choice-i"
    >
    </answer-card>
    }
  </div>
  @if (gameSettings.game.teamRight) {

  <app-team
    (click)="setActiveTeam('teamRight')"
    [name]="'Blue Team'"
    [icon]="teamTwoIcon"
    [fails]="gameSettings.game.teamRight.fails"
    [maxFails]="gameSettings.game.maxFails"
    [count]="gameSettings.game.teamRight.points"
    [class.team--active]="activePlayer.team === 'teamRight' && !showAnswersMode"
    class="team"
  />
  }
  <div class="controls controls-container">
    <button (click)="nextQuestion()" mat-raised-button>Дальше!</button>
  </div>
</div>
}
