@if (gameEnded) {
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
} @if (gameSettings) {
<div class="root-container">
  <h1 class="center-row header">
    {{ gameSettings.game.questions[stageIndex].stageName }}
  </h1>

  <div class="center-row bank">
    <span>
      {{ bank }}
    </span>
  </div>

  @let teamLeft = gameSettings.game.teamLeft; @if (teamLeft) {
  <app-team
    (click)="setActiveTeam('teamLeft')"
    (failed)="onFail('teamLeft')"
    [name]="'Red Team'"
    [icon]="teamOneIcon"
    [fails]="teamLeft.fails"
    [maxFails]="gameSettings.game.maxFails"
    [count]="teamLeft.points"
    [class.team--active]="activePlayer.team === 'teamLeft' || showAnswersMode"
    class="team"
  />
  }

  <answers
    [count]="gameSettings.game.questions[stageIndex].answers.length"
    (open)="onSelected($event)"
  />

  @let teamRight = gameSettings.game.teamRight; @if (teamRight) {
  <app-team
    (click)="setActiveTeam('teamRight')"
    (failed)="onFail('teamRight')"
    [name]="'Blue Team'"
    [icon]="teamTwoIcon"
    [fails]="teamRight.fails"
    [maxFails]="gameSettings.game.maxFails"
    [count]="teamRight.points"
    [class.team--active]="activePlayer.team === 'teamRight' || showAnswersMode"
    class="team"
  />
  }
  <div class="controls controls-container">
    <button (click)="nextQuestion()" mat-raised-button>Дальше!</button>
    <button (click)="closeall()" mat-raised-button>Закрыть всё!</button>
  </div>
</div>
}
