<div fxLayout="row"
     fxLayoutAlign="start center">
  <button class="capitalize button-mar"
          mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="header">{{ gameName }}<span *ngIf="unsavedChanges">*</span></h1>
</div>

<div fxLayout="column"
     fxFlex>
  <mat-tab-group [(selectedIndex)]="selectedIndex"
                 (selectedTabChange)="onSelectedTabChange($event)">
    <mat-tab *ngFor="let q of questions; let i = index"
             [disabled]="i === maxQuestions"
             label="{{ q.stageName }}">
      <p>{{ q.questionText }}</p>
      <div *ngFor="let a of q.answers">
        <p>{{ a.name }} = {{ a.points }}</p>
      </div>
      <!-- TODO: Переделать на нормальную длинну -->
      <button (click)="onQuestionDelete(i)"
              [disabled]="questions.length - 1 <= minQuestions"
              class="capitalize"
              color="accent"
              mat-stroked-button>Удалить вопрос</button>
    </mat-tab>
  </mat-tab-group>
</div>

<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <div fxLayout="row"
       fxLayoutAlign="end start">
    <button (click)="saveChanges()"
            color="primary"
            class="capitalize button-mar"
            mat-flat-button>
      <mat-icon>get_app</mat-icon>
      Сохранить
    </button>
    <button (click)="fileInput.click()"
            class="capitalize button-mar"
            mat-stroked-button>
      <mat-icon>publish</mat-icon>
      Загрузить
    </button>
    <input #fileInput
           (change)="onOpenFile()"
           type="file"
           id="fileInput"
           hidden>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="end start">
    <button [routerLink]="['/game']"
            class="capitalize button-mar"
            mat-stroked-button>
      <mat-icon>public_off</mat-icon>
      Играть локально
    </button>
    <button [routerLink]="['/']"
            class="capitalize button-mar"
            color="primary"
            disabled
            mat-flat-button>
      <mat-icon>public</mat-icon>
      Играть онлайн
    </button>
  </div>
</div>
