<div fxLayout="row"
     fxLayoutAlign="start center">
  <button class="capitalize button-mar"
          mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="header">Создание новой игры...</h1>
</div>

<div fxLayout="column"
     fxFlex>
  <mat-tab-group>
    <mat-tab *ngFor="let q of questions"
             label="{{ q.stageName }}">
      <p>{{ q.questionText }}</p>
      <div *ngFor="let a of q.answers">
        <p>{{ a.name }} = {{ a.points }}</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div fxLayout="row"
     fxLayoutAlign="space-between center">
  <div fxLayout="row"
       fxLayoutAlign="end start">
    <button (click)="saveChanges()"
            color="primary"
            class="capitalize button-mar"
            mat-flat-button>
      <mat-icon>get_app</mat-icon>
      Сохранить
    </button>
    <button (click)="fileInput.click()"
            class="capitalize button-mar"
            mat-stroked-button>
      <mat-icon>publish</mat-icon>
      Загрузить
    </button>
    <input #fileInput
           (change)="onFileSelected()"
           type="file"
           id="fileInput"
           hidden>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="end start">
    <button [routerLink]="['/game']"
            class="capitalize button-mar"
            mat-stroked-button>
      <mat-icon>public_off</mat-icon>
      Играть локально
    </button>
    <button [routerLink]="['/']"
            class="capitalize button-mar"
            color="primary"
            disabled
            mat-flat-button>
      <mat-icon>public</mat-icon>
      Играть онлайн
    </button>
  </div>
</div>
