<div class="content">
  <h1 class="logo-header">СТОК</h1>
  <p class="description">мнений обо всём // beta</p>
  <div class="buttons-block">
    <form (submit)="play()" [formGroup]="gameFrom" class="joining-from">
      <mat-form-field class="joining-from__id-field">
        <mat-label>ID комнаты</mat-label>
        <input formControlName="gameId" placeholder="XXXX" matInput />
      </mat-form-field>

      <button
        [disabled]="!gameFrom.valid"
        class="capitalize"
        color="primary"
        type="submit"
        mat-flat-button
      >
        Войти <mat-icon>login</mat-icon>
      </button>
    </form>
    <a [routerLink]="['/admin']" class="capitalize" mat-stroked-button>
      <mat-icon>add</mat-icon> Создать комнату
    </a>
    <a
      [routerLink]="['/poll']"
      disabled
      color="primary"
      class="capitalize"
      mat-flat-button
      matTooltip="Когда-нибудь будет доступно"
    >
      <mat-icon>bar_chart</mat-icon> Опросы
    </a>
  </div>
</div>
<footer class="footer">
  <div>
    <a class="capitalize" href="https://advall.org/" target="_blank" mat-button
      >Advanced Alliance</a
    >
    |
    <a class="capitalize" href="https://shadowhd.ru/" target="_blank" mat-button
      >ShadowHD</a
    >
  </div>

  <a
    class="capitalize"
    href="https://github.com/Advanced-Alliance/STOCK-FE"
    target="_blank"
    mat-button
    >dev</a
  >
</footer>
