<div fxLayout="column"
     fxLayoutAlign="center center">
  <h1 class="logo-header">
    СТОК
  </h1>

  <p>мнений обо всём // beta</p>
  <div fxLayout>
    <mat-form-field appearance="outline">
      <mat-label>ID комнаты</mat-label>
      <input matInput
             placeholder="XXXX">
    </mat-form-field>
    <a [routerLink]="['/game']"
       color="accent"
       mat-stroked-button>
      <mat-icon>login</mat-icon> Войти
    </a>
  </div>
  <br>
  <div fxLayout>
    <a [routerLink]="['/admin']"
       mat-stroked-button><mat-icon>add</mat-icon> Cоздать комнату</a>
  </div>
  <div fxLayout>
    <a [routerLink]="['/poll']"
       mat-stroked-button><mat-icon>bar_chart</mat-icon> Опросы</a>
  </div>
</div>
